
<% content_for :title do -%>
<h1>Littérature et culture matérielle (1830-2020)</h1>
<% end %>

<div id="home">

<div class="home-menu-container">
    <div class="home-menu-item">
        <a href="/objetslitt/fr/projet" class="home-menu-item-link">
            <div>
                <%= image_tag("chariot_320x200", alt: "Le projet LCM", :class => "home-menu-image") %>
            </div>
            <div class="home-menu-item-title">
                Le projet LCM
            </div>
        </a>
    </div>
    <div class="home-menu-item">
        <a href="/objetslitt/fr/livre" class="home-menu-item-link">
            <div>
                <%= image_tag("livre_320x200", alt: "Le livre", :class => "home-menu-image") %>
            </div>
            <div class="home-menu-item-title">
                Le livre
            </div>
        </a>
    </div>
    <div class="home-menu-item">
        <a href="/objetslitt/fr/donnees" class="home-menu-item-link">
            <div>
                <%= image_tag("ballon_320x200", alt: "La base de données", :class => "home-menu-image") %>
            </div>
            <div class="home-menu-item-title">
                La base de données
            </div>
        </a>
    </div>
    <div class="home-menu-item">
        <a href="/objetslitt/fr/equipe" class="home-menu-item-link">
            <div>
                <%= image_tag("mannequin_320x200", alt: "L'équipe", :class => "home-menu-image") %>
            </div>
            <div class="home-menu-item-title">
                L’équipe
            </div>
        </a>
    </div>
</div>

<% if @daily_item %>
<div class="daily-item">
    <h2 style="margin-top: 0;">Objet du jour</h2>
    <h3 class="daily-item-title"><%= @daily_item_name %></h3>

    <div class="daily-item-content">
        <% if @daily_item_cover %>
        <div class="daily-item-cover">
            <img src="<%= @daily_item_cover %>" class="daily-item-cover-image">
        </div>
        <% end %>

        <div style="width: 100%;">
            <div class="daily-item-description">
                <%= truncate(strip_tags(@daily_item_description), length: 400, separator: ' ', omission: '...') %>
            </div>

            <div style="width: 75%;">
                <a href="<%= @daily_item_url %>">
                    <button class="daily-item-link btn btn-secondary">Voir la fiche</button>
                </a>
            </div>
        </div>
    </div>
</div>
<% end %>
</div>